<p>It was a @Model.Adjective , cold November day. </p>
<p>I woke up to the @Model.Adjective smell of @Model.Noun roasting in the kitchen downstairs. </p>
<p> I went down the stairs to see if I could help @Model.Verb the dinner. </p>